{% extends 'music/base.html' %}
{% load static %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="form-page">
    <div class="form-container">
        <div class="formСard">
            <h1>Вход</h1>
            <form method="post" class="music-form">
                {% csrf_token %}
                <div class="queryField">
                    <label>Имя пользователя</label>
                    <input type="text" name="username" required>
                </div>
                <div class="queryField">
                    <label>Пароль</label>
                    <input type="password" name="password" required>
                </div>
                {% if form.errors %}
                    <div class="formError">
                        Неверное имя пользователя или пароль
                    </div>
                {% endif %}
                <div class="formButtons">
                    <button type="submit" class="btnPrimary">Войти</button>
                    <a href="{% url 'music:register' %}" class="btnSecondary">Регистрация</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}