{% extends 'music/base.html' %}
{% load static %}

{% block title %}Список треков{% endblock %}

{% block content %}
<div class="tracks-page">
    <h1>Треки</h1>
    
    
    {% if user.is_superuser %}
        <div class="btnPrimaryDiv">
            <a href="{% url 'music:track_create' %}" class="btnPrimary">
                + Добавить трек
            </a>
        </div>
    {% endif %}
    <div class="searchCard">
        <h1>Поиск треков</h1>
        <form method="get">
            <div class="queryField">
                {{ form.query.label_tag }}
                {{ form.query }}
            </div>
            <div class="queryField">
                {{ form.musician.label_tag }}
                {{ form.musician }}
            </div>
            <div class="yearsInput">
                <div class="queryField">
                    {{ form.year_from.label_tag }}
                    {{ form.year_from }}
                </div>
                <div class="queryField">
                    {{ form.year_to.label_tag }}
                    {{ form.year_to }}
                </div>
            </div>
            <div class="queryField">
                {{ form.genre.label_tag }}
                {{ form.genre }}
            </div>
            <div class="enterSearch">
                <button type="submit" class="btnPrimary">Применить фильтры</button>
                <a href="{% url 'music:track_list' %}" class="btnSecondary">Сбросить</a>
            </div>
        </form>
    </div>

    <div class="albumList">
        {% for track in tracks %}
            <div class="albumCard">
                <div class="albumCoverCard">
                    {% if track.cover_image %}
                        <img src="{{ track.cover_image.url }}" 
                             class="AlbumCover" 
                             alt="{{ track.title }}">
                    {% else %}
                        <img src="{% static 'blockPhoto.png' %}" 
                             class="AlbumCover" 
                             alt="Нет обложки">
                    {% endif %}
                </div>
                <div class="albumCardBody">
                    <div class="trackHeader">
                        <div class="trackTitleWrapper">
                            <h5><a href="{% url 'music:track_detail' track.pk %}">{{ track.title }}</a></h5>
                            <h4 class="albumLink"><a href="{% url 'music:album_detail' track.album.pk %}">{{ track.album.title }}</a></h4>
                        </div>
                        {% if user.is_authenticated %}
                            <a href="{% url 'music:toggle_favorite' track.pk %}" class="favorite-btn {% if track.id in user_favorites %}active{% endif %}">
                                <i class="{% if track.id in user_favorites %}fas{% else %}far{% endif %} fa-heart"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'login' %}" class="favorite-btn">
                                <i class="far fa-heart"></i>
                            </a>
                        {% endif %}
                    </div>
                    <span class="MusicianLink"><a href="{% url 'music:musician_detail' track.musician.pk %}"> {{ track.musician.name }} </a></span>
                    <div class="mainCardInf">
                        {% if track.release_date %}
                            <p><strong>Год:</strong> {{ track.release_date|date:"Y" }}</p>
                        {% endif %}
                        {% if track.genre %}
                            <p><strong>Жанр:</strong> {{ track.genre.title }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="manipulationPanel">
                    {% if user.is_superuser %}
                        <a href="{% url 'music:track_update' track.pk %}" class="moveIcon">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    {% endif %}
                    {% if user.is_superuser %}
                        <a href="{% url 'music:track_delete' track.pk %}" class="moveIcon">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    {% endif %}
                    <button class="play-this" 
                            data-file="{{ track.file.url }}"
                            data-title="{{ track.title }}"
                            data-artist="{{ track.musician.name }}"
                            data-cover="{% if track.cover_image %}{{ track.cover_image.url }}{% endif %}">
                        <i class="fas fa-play"></i>
                    </button>
                </div>
            </div>
        {% empty %}
            <div class="no-results">
                <p>Треки не найдены</p>
            </div>
        {% endfor %}
    </div>
    
    <p class="results-count">Всего найдено: {{ tracks|length }} треков</p>
</div>
{% endblock %}